<%= form_for(@tout) do |f| %>
  <%= form_errors @tout, false %>
  <% # todo: change to default values from URI /:city/:operation/:category %>
  <div class="field">
    <%= f.collection_select :operation_id, Operation.all, :id, :name, {}, class: 'input-large' %>
    <%= f.collection_select :category_id, Category.all, :id, :name, {}, style: 'width: 600px' %>
    <%= f.collection_select :city_id, City.all, :id, :name, {}, class: 'input-large' %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'input-xxlarge' %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'input-xxlarge', style: 'height: 300px' %>
  </div>
  <div class="actions">

    <% case @tout.state_name %>
      <% when :pending %>
        <%= f.submit "Сохранить", class: 'btn btn-primary btn-large', :name => "prepare" %>
        <%= f.submit "Опубликовать", class: 'btn btn-warning btn-large' , :name => "publish" %>
      <% when :prepared %>
        <%= f.submit "Обновить", class: 'btn btn-primary btn-large' %>
        <%= f.submit "Опубликовать", class: 'btn btn-warning btn-large', :name => "publish" %>

      <% when :published %>
        <%= f.submit "Обновить", class: 'btn btn-primary btn-large' %>
        <%= f.submit "Снять с публикации", :name => "unpublish" %>

     <% else %>
       <%= f.submit "Обновить", class: 'btn btn-primary btn-large' %>
    <% end %>


  </div>
<% end %>
