<h1><%= t('touts.list') %></h1>

<div class="add_tout">
  <%= link_to t('touts.add'), new_tout_path, class: 'btn btn-primary' %>
</div>
<% @touts.each do |tout| %>
  <div class="tout">
    <%= link_to tout do %>
      <h3><%= tout.name %></h3>
      <p><%= tout.content %></p>
    <% end %>
    <div class="subs">
      <%= tout.operation.name %> / <%= tout.category.name %> <%= t('touts.in_city') %> <%= tout.city.name %>,
      <span class="author"><%= tout.user.first_name %></span>
    </div>
    <%= link_to edit_tout_path(tout), class: "btn btn-success" do %>
      <span class="icon icon-edit icon-white"></span> <%=  t('touts.edit') %>
    <% end %>
    <%= link_to tout, method: :delete, data: { confirm: t('msg.are_u_sure') }, class: 'btn btn-danger' do %>
      <span class="icon icon-trash icon-white"></span> <%= t('touts.finish') %>
  <% end %>
  </div>
<% end %>

