<%
  add_breadcrumb @tout.city.name, touts_path(city: @tout.city.alias)
  add_breadcrumb @tout.operation.name, touts_path(city: @tout.city.alias, operation: @tout.operation.alias)
  add_breadcrumb @tout.category.name, touts_path(city: @tout.city.alias, operation: @tout.operation.alias, category: @tout.category.alias)
  add_breadcrumb @tout.name, tout_path(@tout)
%>

<div class="row">
  <% if @tout.photos.length > 0 %>
    <div class="col-lg-4 photos-median">
      <% @tout.photos.each do |photo| %>
        <%= image_tag photo.image.median.url if photo.image %>
      <% end %>
    </div>
  <% end %>
  <div class="col-lg-<%= (@tout.photos.length > 0) ? 8 : 12 %>">

    <% only_for_owner @tout do %>
      <%= link_to edit_tout_path(@tout), class: "btn btn-success btn-xs", title: t('touts.edit') do %>
        <span class="glyphicon glyphicon-pencil"></span> <%= t('touts.edit') %>
      <% end %>
    <% end %>

    <%= simple_format @tout.content %>
  </div>
</div>

