<h1><%= t('cities.admin.list') %></h1>

<table class="table table-hovered table-striped">
  <thead>
    <tr>
      <th><%= t('cities.admin.name') %></th>
      <th><%= t('cities.admin.alias') %></th>
      <th class="col-edit"></th>
      <th class="col-delete"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.alias %></td>
        <td><%= link_to t('buttons.edit'), edit_admin_city_path(city), class: 'btn btn-inverse' %></td>
        <td><%= link_to t('buttons.destroy'), [:admin, city], method: :delete, data: { confirm: t('msg.are_u_sure') }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('buttons.add'), new_admin_city_path, class: 'btn btn-primary' %>