<%= form_for([:admin, @category]) do |f| %>
  <%= form_errors @category %>

  <div class="field">
    <%= f.label :alias %>
    <%= f.text_field :alias, class: 'input-xlarge', maxlength: 32  %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'input-xlarge' %>
  </div>
  <div class="actions">
    <%= f.submit t('scaffold.save'), class: 'btn btn-primary' %>
  </div>
<% end %>
