<h1>Listing categories</h1>

<table class="table table-hovered table-striped">
  <thead>
  <tr>
    <th><%= t('scaffold.name') %></th>
    <th>Alias</th>
    <th class="col-edit"></th>
    <th class="col-delete"></th>
  </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.alias %></td>
        <td><%= link_to t('scaffold.edit'), edit_admin_category_path(category), class: 'btn btn-inverse' %></td>
        <td><%= link_to t('scaffold.destroy'), [:admin, category], method: :delete, data: { confirm: t('msg.are_u_sure') }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('scaffold.add'), new_admin_category_path, class: 'btn btn-primary' %>
