<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.title') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top navbar-inverse toute-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TOUTE</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav toute-navbar-menu">
          <!--li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('menu.operations') %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% Operation.find_each do |oper|  %>
                <li><%= link_to oper.name, touts_path(operation:oper.alias, city: params[:city]) %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('menu.city') %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% City.find_each do |city|  %>
                <li><%= link_to city.name, touts_path(city: city.alias, operation: params[:operation]) %></li>
              <% end %>
            </ul>
          </li>
        </ul>

        <div class="navbar-right">
          <%= form_tag(touts_path, method: "get", class: "navbar-form") do %>
            <div class="form-group">
              <%= text_field_tag(:string, params[:string], placeholder: t('form.search'), class: "form-control" ) %>
            </div>
            <div class="form-group">
              <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          <% end %>
        </div>

        <div class="navbar-right">
          <%= user_controls() %>
        </div>
        <!--form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form-->
      </div>
    </div>
  </div>

  <div class="container">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>

    <footer class="navbar navbar-fixed-bottom">
      <div class="container col-lg-12">
        <p class="navbar-right">Powered by <a href="https://github.com/mpakus/toute">Open Source "Toute" Classifieds Platform</a></p>
      </div>
    </footer>
  </div>

  <%= render 'inc/login_modal' unless user_signed_in? %>

</body>
</html>
