<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.title') %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<head>
  <script src="http://ulogin.ru/js/ulogin.js" type="text/javascript" async="async"></script>
  <div id="uLogin" data-ulogin="display=panel;fields=email,first_name,phone,photo,photo_big,city;providers=vkontakte,facebook,livejournal,odnoklassniki,twitter,google,yandex;hidden=other;redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fsessions%2F"></div>
</head>


<%= yield %>

</body>
</html>
