<!DOCTYPE html>
<html>
<head>
  <title><%= t('app.title') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'inc/head' %>

  <div class="container">
    <div class="breadcrumb">
      <h1><%= render_breadcrumbs separator: ' / ' %></h1>
    </div>
    <%= flash_message(flash) %>
    <%= yield %>
  </div>

  <%= render 'inc/footer' %>
  <%= render 'inc/login_modal' unless user_signed_in? %>

</body>
</html>
